.comunidad-container {
  max-width: 450px;
  margin: 40px auto;
  padding: 25px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #00796b;
  margin-bottom: 10px;
}

.foto-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.foto-perfil {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #80cbc4;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.bienvenida {
  font-size: 1rem;
  margin-top: 10px;
}

.info {
  background-color: #f1f8e9;
  padding: 10px;
  border-radius: 10px;
  margin: 15px 0;
}

.formulario {
  margin-top: 20px;
}

.formulario h2 {
  color: #6a1b9a;
  margin-bottom: 10px;
}

input {
  width: 90%;
  padding: 8px;
  margin: 6px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #6a1b9a;
  box-shadow: 0 0 5px #ce93d8;
}

button {
  background: #00796b;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;

  transition: background 0.3s ease;
}

button:hover {
  background: #004d40;
}

.mensaje-final {
  margin-top: 20px;
  font-style: italic;
  color: #000000;
}

.cargando {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2rem;
  color: #000000;
}
