/* ------------------------------------------------------ */
/* ------------------ NAVBAR USUARIO -------------------- */
/* ------------------------------------------------------ */

.usr-nav-header {
  background-color: #f19797;
  padding: 14px 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 100;
}

.usr-nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}


.usr-logito {
  display: flex;
  align-items: center;
  gap: 10px;
}

.usr-logo {
  width: 90px;
  height: 90px;
  background-image: url("../img/lobito.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 25px 40px;
}

.usr-titulo {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}


.usr-nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
  padding: 0;
}

.usr-nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.2s ease;
  position: relative;
}

.usr-nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease;
}

.usr-nav-links a:hover {
  color: #ffe8e8;
  transform: translateY(-2px);
}

.usr-nav-links a:hover::after {
  width: 100%;
}


.usr-menu-icon {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  transition: all 0.3s ease;
}

.usr-menu-icon .usr-barra {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.usr-menu-icon.usr-activo .usr-barra:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.usr-menu-icon.usr-activo .usr-barra:nth-child(2) {
  opacity: 0;
}
.usr-menu-icon.usr-activo .usr-barra:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}


@media (max-width: 768px) {
  .usr-nav-inner {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;
  }

  .usr-logito {
    justify-content: space-between;
    width: 100%;
  }

  .usr-titulo {
    font-size: 24px;
  }

  .usr-logo {
    width: 55px;
    height: 55px;
  }

  .usr-menu-icon {
    display: flex;
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 300;
  }

  .usr-nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: #f19797;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
    animation: slideDown 0.3s ease;
  }

  .usr-nav-links.usr-activo {
    display: flex;
  }

  .usr-nav-links a {
    font-size: 18px;
  }
}
/* ------------------------------------------------------ */
/* ----------------- NAVBAR VISITANTE ------------------- */
/* ------------------------------------------------------ */

.vis-nav-header {
  background-color: #f19797;
  padding: 14px 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 100;
}


.vis-nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}



.vis-logito {
  display: flex;
  align-items: center;
  gap: 10px;
}

.vis-logo {
  width: 90px;
  height: 90px;
  background-image: url("../img/lobito.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 25px 40px;
}

.vis-titulo {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}


.vis-nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
  padding: 0;
}

.vis-nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.2s ease;
  position: relative;
}

.vis-nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease;
}

.vis-nav-links a:hover {
  color: #ffe8e8;
  transform: translateY(-2px);
}

.vis-nav-links a:hover::after {
  width: 100%;
}

.vis-menu-icon {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  transition: all 0.3s ease;
}

.vis-menu-icon .vis-barra {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.vis-menu-icon.vis-activo .vis-barra:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.vis-menu-icon.vis-activo .vis-barra:nth-child(2) {
  opacity: 0;
}
.vis-menu-icon.vis-activo .vis-barra:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}


@media (max-width: 768px) {
  .vis-nav-inner {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;
  }

  .vis-logito {
    justify-content: space-between;
    width: 100%;
  }

  .vis-titulo {
    font-size: 24px;
  }

  .vis-logo {
    width: 55px;
    height: 55px;
  }

  .vis-menu-icon {
    display: flex;
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 300;
  }

  .vis-nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: #f19797;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
    animation: slideDown 0.3s ease;
  }

  .vis-nav-links.vis-activo {
    display: flex;
  }

  .vis-nav-links a {
    font-size: 18px;
  }
}

.vis-nav-header {
  background-color: #f19797;
  padding: 14px 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 100;
}


.vis-nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.vis-logito {
  display: flex;
  align-items: center;
  gap: 10px;
}

.vis-logo {
  width: 90px;
  height: 90px;
  background-image: url("../img/lobito.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 25px 40px;
}

.vis-titulo {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}


.vis-nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 100px;
  margin-left: auto;
  padding: 0;
}

.vis-nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.2s ease;
  position: relative;
}

.vis-nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease;
}

.vis-nav-links a:hover {
  color: #ffe8e8;
  transform: translateY(-2px);
}

.vis-nav-links a:hover::after {
  width: 100%;
}


.vis-menu-icon {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  transition: all 0.3s ease;
}

.vis-menu-icon .vis-barra {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.vis-menu-icon.vis-activo .vis-barra:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.vis-menu-icon.vis-activo .vis-barra:nth-child(2) {
  opacity: 0;
}
.vis-menu-icon.vis-activo .vis-barra:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}


@media (max-width: 768px) {
  .vis-nav-inner {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 20px;
  }

  .vis-logito {
    justify-content: space-between;
    width: 100%;
  }

  .vis-titulo {
    font-size: 24px;
  }

  .vis-logo {
    width: 55px;
    height: 55px;
  }

  .vis-menu-icon {
    display: flex;
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 300;
  }

  .vis-nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: #f19797;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
    animation: slideDown 0.3s ease;
  }

  .vis-nav-links.vis-activo {
    display: flex;
  }

  .vis-nav-links a {
    font-size: 18px;
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.usr-nav-links {
  margin-left: auto !important;
}

.vis-nav-links {
  margin-left: auto !important;
}
