header {
  top: 0;
  z-index: 1000;
}
.navbar {
  background: #d6f0f9; /* celeste pastel */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.nav-links a:hover {
  background: white;
  color: #2c6e49;
}
