:root {
  --black: #000000;
  --melon: #f7c59f;
  --: #f9a092;
  --: #f1989a;
  --: #eb7563;
  --: #296a6e;
}

body {
  font-family: cursive;
}

body {
  background-image: url('https://img.freepik.com/vector-gratis/adorable-fondo-estampado-pata-perfecto-ninos-amantes-animales_1017-47508.jpg');
}

.logo img {
  width: 10%;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url();
  background-size: cover;
  background-position: center;
}

section {
  padding: 20px;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 10rem;
  color: rgb(10, 12, 12);
}

.home .content h3 {
  font-size: 5rem;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.home .content span {
  font-size: 2.3rem;
  color: #0f0f0c;
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content span {
  font-size: 2.5rem;
}

.home .content p {
  font-size: 16px;
  color: rgb(2, 7, 3);
  padding: 1rem 0;
  line-height: 1.9;
}

.bootstrap-grid div {
  border: 2px solid black;
}

img {
  max-width: 100vw;
}

.animals img {
  width: 100%;
}

.bootstrap-grid div img {
  width: 60%;
  border: 8px;
  row-gap: auto;
}

.imagenprincipal img {
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none; 
  transition: 0.2s linear;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #ffffff;
  padding: 1rem;
  margin: 2rem 0;
  background: #f9a092;
}

.heading span {
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 3.5rem;
  color: #000000;
  font-weight: bolder;
}

header .logo span {
  color: var(--pink);
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5 rem;
  color: #666;
  margin-left: 1.5rem;
}

header .navbar a:hover {
  color: var(--orange);
}

header .icons a {
  font-size: 2.5rem;
  color: #000000;
  margin-left: 1.5rem;
}

header .icons a:hover {
  color: var(--turquoise);
}

header #toggler {
  display: none;
}

header .fa-bars {
  font-size: 3rem;
  color: #000000;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid #000000;
  display: none;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  header .fa-bars {
    display: block;
    font-size: 3rem;
    color: #000000;
    cursor: pointer;
    padding: 1rem;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    display: none;

  }

  header #toggler:checked ~ .navbar {
    display: block;
    clip-path: none;
  }

  header .navbar a {
    margin: 1.5rem 0;
    padding: 1rem;
    background: #fff;
    border: 1rem solid rgba(0, 0, 0, 0.1);
    display: block;
    text-align: center;
    width: 100%;

  }
}

@media (max-width: 991px) {
  section {
    padding: 2rem;
  }
}

section {
  padding: 20px;
}

section {
  display: block;
  unicode-bidi: isolate;
}

.text-container h3 {
  font-size: 32px;
}

.text-container p {
  font-size: 16px;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.imagen-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.imagenprincipal {
  flex: 1;
  min-width: 300px;
}

.imagenprincipal img {
  width: 450px;      
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;   
}


.text-container {
  flex: 2;
  text-align: left;
}

.about {
  min-height: 75vh;
  background-image: url('...');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 35px;
}
.content {
  background-color: rgba(255, 246, 246, 0.932);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 12px;
  color: #675c5c;
}

h1.text-center {
  background-color: #f9a092;
  padding: 20px;
  border-radius: 10px;
}

.mi-footer {
  background-color: #f1989a;
  color: black;
  text-align: center;
  padding: 10px 0;
  font-size: 1.9rem;
}

.card.perri img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}


.hero {
  position: relative;
  height: 100vh;
  background: url('../img/portada.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.8;
}

.mi-footer p {
  color: #000000;
}

.text-container p {
  color: #000000;
}


.hero-content h1,
.hero-content p {
  color: white;
}

.text-container h3,
.text-container p {
  color: black; 
}
.seccion-dedicamos {
  max-width: 900px;      
  margin: 0 auto;       
  padding: 20px;
  text-align: justify;  
}


.seccion-dedicamos h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.seccion-dedicamos p {
  font-size: 17px;
  line-height: 1.7;
  color: #000000;
  font-family: 'Poppins', sans-serif;
}
