.registrar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #fffdfd; 
}

.registrar-card {
  background-color: #f19797;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 320px;
  font-family: "Poppins", sans-serif;
  animation: aparecer 0.5s ease;
}

.registrar-card h1 {
  margin-bottom: 20px;
  color: #4a2d2d;
  font-weight: bold;
  font-size: 22px;
}

input {
  display: block;
  width: 90%;
  margin: 12px auto;
  padding: 10px;
  border: 1px solid #e28888; 
  border-radius: 12px;
  font-size: 14px;
  text-align: center;
  background-color: #ffffff;
  outline: none;
  transition: 0.3s ease;
}

input:focus {
  border-color: #e68c8c; 
  box-shadow: 0 0 5px rgba(230, 140, 140, 0.6);
}

.btn-registrar {
  display: block;
  width: 100%;
  margin-top: 12px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: #e28888;
  color: white;
}

.btn-registrar:hover {
  background-color: #e68c8c; 
}


@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
